<table>
  <tr><th> Artist</th>
    <th> Album Title </th>
    <th> Genre </th>
    <th> Quantity </th>
    <th> Stock Level </th>
    <th> Buy Price </th>
    <th> Sell Price </th>
  </tr>
<% @album.each do |album| %>
<tr>
  <td> <%= Artist.find(album.artist_id).name %></td>
  <td> <%= album.title %></td>
  <td> <%= album.genre %></td>
  <td> <%= album.quantity %></td>
  <td> <%= album.stock_checker %></td>
  <td> <%= album.buy_price %></td>
  <td> <%= album.sell_price %></td>
</tr>

<% end %>



</table>
